*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
}


/* personalization, unvisited countries gray, drawing lines white, and .5 thickness */
svg path{
    fill: #e0e0e0;
    stroke: #fff;
    stroke-width: .50;
}



/* exportation countries */
#MX, #CO, #PE, #DE, #ES, #Chile, #United_Kingdom , #United_States, #Canada, #Italy {
    fill: #bbc048;
}


/* hover effect */
#MX:hover, #CO:hover, #PE:hover, #DE:hover, #ES:hover, #Chile:hover , #United_Kingdom:hover , #United_States:hover , #Canada:hover  , #Italy:hover {
    fill: #2b4024;
    transition: 0.5s;
    cursor: pointer;
}

/* country name display when it's hover */
.countryName{
    content: "";
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: rgba(255, 255, 255, .9);
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
}


/* country name underline */
.countryName::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    border: 10px solid;
    border-color: rgba(255, 255, 255, .9) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) ;

}
