*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'MyFont', system-ui;
  }
/* load img */
.load{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-out;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
}
.load.active{
  opacity: 1;
  pointer-events: all;
}



/* navbar section */
header {
    height: 100px;
    background-color: white;
    padding: 10px 5vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

/* navegation bar inside header */
  .navlogo img {
    height: 60px;
    width: 300px;
  }

  .navbar{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  }

  /* menu personalization */
  .menu{
    display: inline-flex;
  }
  
  .menu_bottom {
    list-style: none;
    margin: 0 10px;
  }

  .menuText{
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-size: 18px;

  }

  .menu_bottom a::after{
    content: "";
    display: flex;
    height: 3px;
    background-color: #16b616d5;
    opacity: 0;

}
.menu_bottom a:hover::after{
    opacity: 1;
    animation: slide-left .2s forwards;
    overflow: hidden;
}

.menu_bottom {
overflow: hidden;
}

 .current{
    color: #16b616d5;
  }


  /* hamburger menu */
  .hamburger{
    display: none;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar{
    height: 3px;
    width: 25px;
    background-color: #9bc31a;
    margin: 5px 0;
    transition: 0.4s;
  }

/* general slides zise settings */

.slider{
  overflow: hidden;
}

.progressBar{
  height: 10px;
  width: 100%;
  background-color: #8dd18c78;
  position: relative;
  z-index: 1;
  left: -100%;

}

.progressBar.activated{
  animation: moveBar 9s infinite;
  }

.slide{
  
  height: 650px;
  width: 102%;
  position: relative;
  left: -1%;
  opacity: 1;
  display: block;
  border: none;
}
.slideImage{
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .9s ease-in-out;
}

.slideImage.active{
  opacity: 1;
}


/* slide text */
.slideText{
  width: 75%;
  margin: 0 13% 0 13%;
  height: 100%;
  color: white;
  position: absolute;
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.slideText.active{
  display: flex;
}


.slideText h1{
  font-size: 6vw;
  font-weight: 900;
  animation: slide-right 1s forwards;
}
.slideText h2{
  font-size: 1.5vw;
}
.slideText h3{
  font-size: 1vw;
}
.slideText h2,h3{
  font-weight: 600;
  animation: slide-left 1s forwards;
}

/* change slide buttoms */
.slideChangeButtomSection{
  position: absolute;
  height: 100%;
  width: 10%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;
}

.slideChangeButtom{
  display: flex;
  align-content: center;
  min-height: 5vw;
  min-width: 5vw;
  margin: 5px;
  border: dashed white 3px;
  border-radius: 50%;
  opacity: 0;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity .5s ease;
}

.SlideChangeRightButtom {
  top: 0;
  right: 0;
}
.SlideChangeleftButtom {
  top: 0;
  left: 0;
}


/* certificates settings*/
.Certificates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  top: -150px;
}

.certificate img{
  height: 300px;
  width: 300px;
}

.certificate figcaption {
  text-align: center;
  font-weight: 600;
}

/* interactive map size settings */

.interactiveMapContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.interactiveMap{
  width: 85%;
  height: 50vw;
  border: none;
}

.tittleText{
  color: #209e00;
  font-size: 35px;
  font-weight: 600;
}
.mapTittle{
    position: relative;
    text-align: center;
    left: 50%;
    transform: translatex(-50%);
    top: -35px;
}

.horizontalLine{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 75%;
  background-color: #0000002e;
}


/* ecuamoringa extra information images and text*/
#extraInformativeSection{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.extraInfo{
  width: 75vh;
  margin: 15px;
}
.infoParagraph{
  font-size: 16px;
  font-weight: 400;
  color: #808080;
}

.storyTittle{
  display: flex;
  justify-content: center;
}
.Story{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



/* footer section */
#contactFooterInfo{
  width: 100%;
  height: 110px;
  border: solid #111111;
  background-color: #111111;
  color: white;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.socialLinkIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;

}
.contactLinks{
  display: inline-flex;
  list-style: none;
}


.socialLink{
  text-decoration: none;
  border: dashed rgb(80, 80, 80) 1px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin: 15px 5px;
}

/* auto Scroll buttom */

.autoScrollButtom{
  position: fixed;
  right: 3%;
  bottom: 13%;
  transition: ease-in-out 1s;
  z-index: 1;
}

.ScrollButtom{
  display: inline-flex;
  height: 50px;
  width: 50px;
  background-color: #209e2e;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.ScrollButtomDec{
  position: relative;
  color: #209e2e;
  left: -10px;
  top: -20px;
}
.banner{
    height: 360px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bannerText{
  position: absolute;
  color: white;
  left: 8vh;
  font-size: 2.5vw;
  font-weight: 500;
}

.carouselFrame{
    width: 100%;
    height: 400px;
}



  @keyframes slide-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slide-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes moveBar {
    0% {
      left: -100%;
    }
    100% {
      left: 0%;
    }
  }




@media (max-width: 1141px){
    
    .hamburger{
      display: inline-block;
      right: 3vw;
      position: fixed;
      z-index: 7;
    }
    .hamburger.active .bar:nth-child(1){
      transform: rotate(-45deg) translate(-6px,7px);
    }
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(3){
      transform: rotate(45deg) translate(-4px,-6px);
    }
    .menu {
      position: fixed;
      top: 0px;
      padding-top: 70px;
      right: -100%;
      background-color: #333;
      transition: right 0.5s ease;
      flex-direction: column;
      height: 100%;
      margin: 0;
      z-index: 6;
      justify-content: flex-start;
    }
    .menuText{
      color: white;
    }

    .menu_bottom{
      justify-content: flex-start;
      display: inline-flex;
      padding: 15px 30px 15px 30px;
      position: relative;
    }

    .mobile_display_overlay{
    bottom: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    background: #000000;
    opacity: .5;
    transition: right .6s ease-in-out;
    z-index: 6;
    }
    .menu.active, .mobile_display_overlay.active{
      right: 0;
    } 
    .slideText h1{
      font-size: 8vw;
    }
    .slideText h2{
      font-size: 2.5vw;
    }
    .slideText h3{
      font-size: 2vw;
    }
    .slideText h2,h3{
      font-weight: 600;
    }


  }
